{% extends 'base.html' %} {% block content %}

<h1>Finch Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ finch.name }}</span>
    <p>Breed: {{ finch.breed }}</p>
    <p>Description: {{ finch.description }}</p>

    {% if finch.age > 0 %}
    <p>Age: {{ finch.age }}</p>
    {% else %}
    <p>Age: little finch</p>
    {% endif %}

    <div class="card-section">
      <a href="{% url 'finches_update' finch.id%}">Edit</a>
      <a href="{% url 'finches_delete' finch.id%}">Delete</a>
    </div>

    <div>
      {% load static %}
      <img
        src="{% static finch.image|cut:'main_app/static/' %}"
        width="100px"
        height="100px"
      />
    </div>
  </div>
</div>

<div>
  <div>
    <form method="post" action="{% url 'add_visit' finch.id %}">
      {%csrf_token%} {{visit_form.as_p}}
      <input type="submit" class="btn" value="add visit" />
    </form>
  </div>
  <table class="striped">
    <thread>
      <tr>
        <th>Date</th>
        <th>Duration</th>
      </tr>
    </thread>
    <tbody>
      {% for visit in finch.visit_set.all%}
      <tr>
        <td>{{visit.date}}</td>
        <td>{{visit.get_duration_display}}</td>
      </tr>
      {%endfor %}
    </tbody>
  </table>
</div>
<hr />

<div class="row">
  <div class="col s6">
    <h3>{{finch.name}}</h3>

    {% if finch.homes.count %} {%for home in finch.homes.all %}
    <div class="card">
      <div class="'card-content">
        <span class="card-title">
          A
          <span style="color: {{home.color}}">{{home.color}}</span>
          {{home.type}}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_home' finch.id home.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {%endfor%} {%else%}
    <h5>No Homes</h5>
    {%endif%}
  </div>
  <div class="col s6">
    <h3>Available Toys</h3>

    {% if homes.count %} {% for home in homes.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A
          <span style="color: {{ home.color }}">{{ home.color }}</span>
          {{home.type}}
        </span>
      </div>

      <div class="card-action">
        <form action="{% url 'assoc_home' finch.id home.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{ finch.name }} already has all toys available.</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })

  let selectEl = document.getElementById('id_duration')
  M.FormSelect.init(selectEl)
</script>
{% endblock %}
